@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.container {
  display: flex;
  height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: #f4f6f8;
}

.header {
  width: 100vw;
  display: flex;
  padding-top: 16px;
  align-items: center;
  justify-content: center;
}

.back-button {
  left: 0;
  height: 100%;
  display: flex;
  padding-left: 10px;
  position: absolute;
  align-items: center;
}

.content {
  display: flex;
  height: 100vh;
  align-items: center;
  padding-bottom: 32px;
  flex-direction: column;
  background-color: #f4f6f8;
}

.status {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.action-container {
  width: 100vw;
  display: flex;
  flex-direction: row;
  column-gap: 10rem;
  align-items: center;
  justify-content: center;
}

.button-scan {
  height: 56px;
  width: 100px;
  border: none;
  font-weight: bold;
  border-radius: 16px;
  color: whitesmoke;
  background-color: #007bff;
  font-family: "Poppins", sans-serif;

  &:hover {
    cursor: pointer;
    filter: drop-shadow(0 0 2em #007bff);
  }

  &:active {
    filter: none;
    transform: scale(0.96);
    background-color: #0056b3;
  }
}

.input-container {
  gap: 1rem;
  display: flex;
  flex-direction: column;
}

.button-generate {
  width: 100%;
  @extend .button-scan;
  background-color: #f3960ca8;

  &:hover {
    filter: drop-shadow(0 0 2em #f3960ca8);
  }

  &:active {
    background-color: #9a5f06a8;
  }
}

.button-download {
  @extend .button-scan;
  width: fit-content;
  background-color: #28a745;

  &:hover {
    filter: drop-shadow(0 0 2em #28a745);
  }

  &:active {
    background-color: #1e7e34;
  }
}

.input {
  border: none;
  height: 54px;
  font-size: 1rem;
  min-width: 20rem;
  border-radius: 6px;
}

.qr-scanner {
  width: 100%;
  max-width: 300px;
}

.qr-generated {
  display: flex;
  column-gap: 2em;
  justify-content: center;
  align-items: center;
  height: 100%;
}

@media (max-width: 768px) {
  .action-container {
    row-gap: 8px;
    flex-direction: column;
  }

  .input-container {
    display: flex;
    row-gap: 10px;
    align-items: center;
    flex-direction: column;
  }
}
